/* Fountain Code Mirror */

.fountain-source-view>.CodeMirror-wrap>.CodeMirror-scroll {
    padding: 20px !important;
    position: unset;
}

.screenplay {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    overflow-y: hidden;
    vertical-align: baseline;
}

.screenplay {
    display: block;
}


/* Styles for Screenplay */

.screenplay {
    margin: auto;
    width: 60%;
    max-width: 55em;
    text-align: left;
    font: 12pt 'Courier Final Draft', 'Courier Screenplay', Courier;
    padding: 0pt 0 0 0pt;
    position: static;
}

.screenplay>header {
    color: #569cd6 !important;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}

.screenplay>footer {
    margin-top: 1em;
}

.screenplay>em {
    font-style: italic;
}

.screenplay>p .bold {
    color: #569cd6 !important;
}

.screenplay>br {
    clear: both;
}

.screenplay>div.action p {
    margin-top: 1em;
}

/* Title Page */
.screenplay>h1 {
    text-align: center;
    margin:auto;
}

.screenplay>.credit {
    text-align: center;
    margin:auto;
}

.screenplay>.author {
    text-align: center;
    margin:auto;
}

.screenplay>.authors {
    text-align: center;
    margin:auto;
}

.screenplay>.source {
    text-align: center;
    margin:auto;
}

.screenplay>.notes {
    text-align: center;
    margin:auto;
}

.screenplay>.draft-date {
    text-align: right;
    margin-right: 0em;
}

.screenplay>.date {
    text-align: right;
    margin-right: 0em;
}

.screenplay>.contact {
    text-align: right;
    margin-right: 0em;
}

.screenplay>.copyright {
    text-align: right;
    margin-right: 0em;
}



/* Dialogue */

.screenplay>.dialogue h4 {
    text-align: center;
    color: #4ec9b0 !important;
    font-weight: 500 !important;
}

.screenplay>.dialogue p {
    text-align: left;
    color:#ce9178 !important;
    margin-left: 20%;
    margin-right: 20%;
}

.underline {
    text-decoration: underline;
}

.screenplay>.dialogue .parenthetical {
    color:#d7ba7d !important;
    text-align: center;
    margin: auto;
}


/* Scene Headding */
.screenplay>h3 {
    color:#3277af !important;
    margin-top: 2em;
    text-transform: uppercase;
}

/* Transition */
.screenplay>h2 {
    color:#b5cea8 !important;
    text-align: right;
    font-size: 18px;
}

/* Change mode button */

.fountain-button {
    background-color: transparent;
    margin: none;
    padding: 0px;
}

.fountain-button:hover {
    color: var(--text-a);
    background-color: transparent;
}
